# Local development only. Copy this file to .env and replace these values.
MONGO_ROOT_USERNAME=tcc_admin
MONGO_ROOT_PASSWORD=change_this_local_password
MONGO_DATABASE=iiot_tcc

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC_TELEMETRY=tcc/v1/simulated-plant-01/tanks/t-01/telemetry
MQTT_CLIENT_ID=tcc-telemetry-publisher
MQTT_INGESTION_CLIENT_ID=tcc-telemetry-ingestion

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_AUTH_DATABASE=admin
MONGO_DOCUMENT_COLLECTION=telemetry_documents
MONGO_TIMESERIES_COLLECTION=telemetry_timeseries
MONGO_STORAGE_MODE=dual
